/* #color choices
#1c1b15: background
#f0e1c4: cotton white
#f7574b: orange red (title)
#d7f2f9: logo text
#888888: text
#28271f: footer background

================================================== */



/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

/* #Basic Styles
================================================== */

html{
	background-color: #1c1b15;
	height: auto;
}

body{
	max-width: 960px;
	margin: 0 auto;
	font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #888888;

}

img{
	max-width: 100%;
}

/* #Typography
================================================== */
 h1, h2, h3, h4, h5, h6 {
		color: #f7574b;
		font-family: "HelveticaNeue", sans-serif;
		font-weight: normal; 
		padding: 0;
		margin: 0;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
		font-weight: inherit; 
		color: #f7574b;
	}
	h1 { 
		font-size: 36px; line-height: 40px;
	}
	h2 {
		font-size: 24px; line-height: 34px;
	 }
	h3 { 
		font-size: 20px; line-height: 28px; 
	}
	h4 { 
		font-size: 18px; line-height: 24px; 
	}
	h5 { 
		font-size: 16px; line-height: 18px; 
	}
	h6 { 
		font-size: 12px; line-height: 16px; 
		}
	
	p { 
		margin: 0 0 20px 0; 
		color: #888888;
		font-size: 14px;
	}

	p.view{
		color: #f7574b;
		font-size: 12px;
		text-align: right;
	}

	p.view a{
		list-style: none;
	}

	/*p.news{
		width: 225px;
		/*float: left;*/

	a{
		color: #f7574b;
		text-decoration: none;
	}

/* #Header
================================================== */

#header{
	background: url("../image/header.gif") no-repeat top center;
	width: 1019px;
	height: 228px;
	text-indent: -9999999px;
}

h1{
	/*float: left;*/
	width: 800px;
	line-height: 60px;
	font-family: "Charlemagne Std Bold" "HelveticaNeue" "Helcetica" "sans-serif";
	color: #f0e1c4;
	/*margin-top: 80px;*/
	padding: 0;
}

#search{
	float: right;
	width: 29%; /*300px;*/
	border-radius: 5px;
	height: 20px;
	margin-top: 80px;
	margin-right: 5%; /*50px;*/
	background-color: #888888;
}


/* #Navigation
================================================== */

nav{
	overflow: hidden;
	float: left;
	padding: 0;
	margin-bottom: 40px;
/*	margin-right: 65px;*/
/*	width: 960px;*/
}

nav ul{
	/*width: px;*/
	float: right;
	max-width: 960px;
}

nav ul li{
	list-style: none;
	float: left;
	text-align: center;
	width: 10em; /*160px;*/
	list-style: none;
}

nav ul li a{
	line-height: 30px;
	display: block;
	color: #888888;
	text-transform: uppercase;
	text-decoration: none;
	
}

nav ul li a.current{
	height: 30px;
	color: #f7574b;
}

nav a:hover{
	color: #f7574b;
}


/* Wrapper
================================================== */

.wrapper{
	clear: both;
	max-width: 960px;
}

#first_column{
	float: left;
	width: 48%;/*460px;*/
	margin: 0 2% 0 0;
}

.news_column{
	float: left;
/*	margin-left: 2%;*/
	margin-top: 10px;
}

#second_column{
	float: left;
	width: 24%; /*230px;*/
	margin: 0 2% 0 0;
}

figcaption{
	font-size: 14px;
	padding-bottom: 10px;
	text-align: center;
}

.news_feed{
	clear: both;
	width: 100px;
	float: left;
}

#video{
	float: right;
	width: 73%; /*700px;*/
}
 
/*#first_column{
	margin: 0 5px 0 10px;
}*/

/*#second_column{
	margin: 0 5px;
}*/

#third_column{
	width: 24%;
	float: left;

}

dl{
	color: #888888;
}

dd{
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 1.5;
}

dt{
	font-weight: bold;
}

/*.image_text{
	text-align: center;
}*/

.news_pic{
	margin-bottom: 10px;
	float: left;
/*	width: 50%;*/
}

.news{
	margin-left: 2%;
/*	margin-left: 4%;*/
	line-height: 1.5;
	width: 48%;
	float: left;
}

.news:first-child{
	padding-top: 0;
}

/*.news:last-child{
	padding-top: 70px;
}*/

/* #about
================================================== */

#about_image{
	width: 48%; /*460px;*/
	float: left;
}

.about_image{
	margin-bottom: 10px;
}

#about_text{
	width: 430px;
	float: right;
}

/* #Classes
================================================== */
	
	caption{
		font-size: 18px;
		padding-bottom: 10px;
		font-weight: bold;
	}

    table{
    font-family: "HelveticaNeue", sans-serif;
    font-size: 16px;
    /*font-weight: bold;*/
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
    margin-left: 15%; /*140px;*/
    margin-bottom: 50px;
    }

    thead th{
    padding:15px;
    color:#fff;
  /*  text-shadow:1px 1px 1px #568F23;*/
  /*  border:1px solid #f7574b;*/
    background-color:#888888;
    border-radius: 3px;
	}

	tr:nth-child(even){
		background-color: #28271f;
	}

	tr{
		margin-top: 10px;
	}	



/* #Registration
================================================== */

fieldset{
	margin-bottom: 15px;
}

input{
	border-radius: 3px;
	background-color: #888888;
}

textarea{
	border-radius: 3px;
	background-color: #888888;
}

.registration{
	margin-top: 10px;
}

#button{
        -moz-box-shadow:inset 0px 1px 0px 0px #e67a73;
        -webkit-box-shadow:inset 0px 1px 0px 0px #e67a73;
        box-shadow:inset 0px 1px 0px 0px #e67a73;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #eb675e));
        background:-moz-linear-gradient(top, #e4685d 5%, #eb675e 100%);
        background:-webkit-linear-gradient(top, #e4685d 5%, #eb675e 100%);
        background:-o-linear-gradient(top, #e4685d 5%, #eb675e 100%);
        background:-ms-linear-gradient(top, #e4685d 5%, #eb675e 100%);
        background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
        
        background-color:#e4685d;
        
        -moz-border-radius:7px;
        -webkit-border-radius:7px;
        border-radius:7px;
        
        border:1px solid #ffffff;
        
        display:inline-block;
        color:#ffffff;
        font-family:Trebuchet MS;
        font-size:17px;
        font-weight:bold;
        padding:6px 11px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #b23e35;
        
    }
    #button:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb675e), color-stop(1, #e4685d));
        background:-moz-linear-gradient(top, #eb675e 5%, #e4685d 100%);
        background:-webkit-linear-gradient(top, #eb675e 5%, #e4685d 100%);
        background:-o-linear-gradient(top, #eb675e 5%, #e4685d 100%);
        background:-ms-linear-gradient(top, #eb675e 5%, #e4685d 100%);
        background:linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb675e', endColorstr='#e4685d',GradientType=0);
        
        background-color:#eb675e;
    }
    .button:active {
        position:relative;
        top:1px;
    }


/* #Contact
================================================== */

#contact{
	width: 400px;
	float: left;
}

#contact_form{
	width: 400px;
	clear: both;
}

#map{
	width: 460px;
	float: right;
}


/* #Footer
================================================== */

footer{
	clear: both;
	max-width: 960px;
	height: 50px;
	/*background-color: #28271f;*/
	border-top: 2px solid #28271f;
}

footer p{
	text-align: center;
	padding-top: 18px;
}


/* #Media Queries
================================================== */
@media screen and (max-width: 960px) {
	nav li{
		width: 25%;
		padding: 6px 0;
		}
}



@media screen and (max-width: 640px) {

	#header{
	background: url("../image/header_2.gif") no-repeat top center;
	}

	nav{
		margin-left: 5em;
	}

	#first_column,#second_column,#third_column{
		float: none;
		width: 100%;
		margin-left: 2em;
	}

	#first_pic{
		margin-left: 3em;
	}

	.news_feed{
		margin-left: 2em;
	}

	.feeds{
		width: 80%;
		float: left;
	}

	#second_column{
		width: 93%;
	}

	#video{
		width: 100%;
/*		margin: 0 2em;*/
	}
}
@media screen and (max-width: 320px) {
	
	#header{
	background: url("../image/header_3.gif") no-repeat top left;
	}

	nav li{
		float: none;
		width: 100%;
		text-align: left;
		padding: 1% 3%;
		margin: 1%;
	}
	
	#first_pic{
		margin: 0 auto;
	}

	.news_column{
		width: 100%;
	}

	#first_column,#second_column,#third_column{
		float: none;
		width: 100%;
		margin-left: .5em;
	}

	iframe{
		max-width: 100%;
	}

	#video{
		margin-left: .5em;
	}

	.feeds{
		margin-left: 5em;
	}
}





